.imagedebut{
  background-image:url("https://ad962edbae8ba7b03b7f-d10007df79b5b7a4e475a291e50a08cf.ssl.cf3.rackcdn.com/ouvrir-une-boulangerie/ouvrir-une-boulangerie.jpg");
background-attachment: fixed;
background-repeat:no-repeat;
background-size: cover;
width:100%;
height:80%;
}


.imagedebut p{
  font-size: xx-large;
  font-weight: 900;
  color:white;
  padding-top:15%
}
