
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>


<div class=" imagedebut text-center  ">
<p class="align-middle">Boulangerie Dorattioto</p>
</div>











<br>



<!-- Container (Services Section) -->
<div id="services" class=" container-fluid text-center ">


    <br>
    <div class="row slideanim">
      <div class="col-sm-4">

        <h2>Fait à la main</h2>

      </div>
      <div class="col-sm-4">

        <h2>Fait sur plaçe</h2>

      </div>
      <div class="col-sm-4">

        <h2>Produits 100% belges</h2>

      </div>
    </div>
    <br><br>
    <div class="row slideanim">
      <div class="col-sm-4">

        <h2>Ingrédients locaux</h2>

      </div>
      <div class="col-sm-4">

        <h2>Produits sans additifs</h2>

      </div>
      <div class="col-sm-4">

        <h2 style="color:#303030;">Boulangerie familliale</h2>

      </div>
    </div>
  </div>
<div class=" text-center">
  <br><br>

  <h2>Horaire</h2><br>
      <h4> Lundi : 08:00-18:00 </h4>
      <h4> Mardi : Fermé </h4>
      <h4> Mercredi : 08:00-18:00 </h4>
      <h4> Jeudi : 08:00-18:00 </h4>
      <h4> Vendredi : 08:00-18:00 </h4>
      <h4> Samedi : 08:00-18:00 </h4>
      <h4> Dimanche : 07:15-17:00 </h4>
</div>
<div class="mapouter">

  <h2 class="text-center" style="background-color: #f6f6f6; padding-bottom:1rem; margin:0;">ADRESSE<br></h2>
  <div class="gmap_canvas">
      <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Chau.%20de%20Nivelles%203/G,%205032%20Gembloux&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      <br><style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}</style>
      <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style>
  </div>
</div>
<br><br><br><br>
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>A propos de la boulangerie</h2><br>
      <h4>Cette boulangerie ouverte par le couple Doratiotto tout deux originaires de la région de Mazy s'est affirmée au fil du temps comme la boulangerie de la région.</h4><br>
      <p>Active depuis les années 80, cette boulangerie à su adapter ses produits au fil du temps et de la demande qui évolue de plus en plus. Plus de 12 Pains différents sont proposés à la vente. Sans oublier les différentes viennoiseries, gâteaux et tartes. </p>
      <br>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>






<!--Section: Contact v.2-->



